<p>Hello <%= @user.first_name %></p>

<table>

<% @experiments.each do |experiment| %>
  <tr>
    <td><%= link_to experiment.title, {:action => "experiment", :id => experiment.id} %></td>
  </tr>
<% end %>
</table>