<html>
<head>
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
	<script type="text/javascript">
	google.load("visualization", "1", {packages:["corechart"]});
	google.setOnLoadCallback(drawChart);
	function drawChart() {
		var data = google.visualization.arrayToDataTable([
			<%= @data %>
			]);

			var options = {
				title: 'Sleep Efficiency',
				vAxis: {title: 'Product',  titleTextStyle: {color: 'black'}},
				fontSize: 10,
				chartArea: {left: 300, top: 20, width: 500, height: 6900} 
			};

			var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
			chart.draw(data, options);
		}
		</script>
	</head>
	<body>
		<div id="chart_div" style="width: 1000px; height: 7000px;"></div>
	</body>
</html>